bzr
juju-deployer<=0.6.4  # Before Juju2 support
jujuclient<=0.52.0
argcomplete>=0.8.1  # Version in Xenial
jinja2>=2.8  # Version in Xenial
python-cinderclient>=1.0.0  # From Mojo requirements
bzr+lp:codetree#egg=codetree
bzr+lp:mojo#egg=mojo
