# one of the dependencies include openstacksdk and a dependency of
# openstacksdk 0.44 dropped Python 3.5 support
openstacksdk<0.44
python-openstackclient
python-neutronclient
python-novaclient
python-keystoneclient
python-glanceclient
jinja2

# Newer versions use keywords that didn't exist in
# python 3.5 yet (e.g. "ModuleNotFoundError")
importlib-metadata<3.0.0
importlib-resources<3.0.0
